fieldset {
    background-color: #eee;
    margin-bottom: 20px;
    border: 2px solid #ccc;
}

.legenda {
    font-weight: bold;
    font-size: 25px;
}

.legenda-campo {
    font-size: 15px;
    font-weight: bold;
    
}

.input {
    margin-bottom: 10px;
    border-radius: 10px;
    border: 1px solid #eee;
    padding: 5px;
    width: 400px;
}

.input-idade {
    width: 45px;
    border-radius: 25px;
    margin-bottom: 10px;
    border: 1px solid #eee;
}

.file {
    margin-top: 10px;
}

.botao {
    padding: 10px;
    font-weight: bold;
    width: 440px;
    font-size: 18px;
}

textarea {
    width: 400px;
    resize: none;
    border-radius: 15px;
    border: 1px solid #eee;
    margin-top: 5px;
    padding: 10px;
    margin-bottom: 10px;
}

.checkbox {
    cursor: pointer;
}



