.legenda {
    font-weight: bold;
    font-size: 25px;
}

.legenda-campo {
    font-size: 15px;
    
}

.input {
    margin-bottom: 10px;
    border-radius: 10px;
}

.input-idade {
    width: 45px;
    border-radius: 25px;
    margin-bottom: 10px;
}

.file {
    margin-top: 10px;
}

.botao {
    padding: 10px;
    font-weight: bold;
    margin-top: 10px;
}

.checkbox {
    cursor: pointer;

}